@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
  font-family: Roboto, sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --Brown: #3c2313;
  --Square: #fbfaf6;
  --Orange: #f0a83e;
}

.start-justified {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(0, 255, 255, 0.278);
}

.center-justified {
  display: flex;
  justify-content: center;
}

.end-justified {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 0, 0, 0.231);
}

.center-aligned {
  display: flex;
  align-items: center;
}

.end-alinged {
  display: flex;
  align-items: flex-end;
}
.column {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 255, 0.44);
}
.warp {
  display: flex;
  flex-wrap: wrap;
}

/* ---------------------- TOP OFFERS SECTION ----------------------------------- */
.header-container-1 {
  background-color: #222222;
  color: white;
  font-weight: 400;
  width: 100vw;
  height: 4vh;
  font-size: 1vw;
  padding: 0.1vw 5vw;
}
.header-container-1-annoucement {
  width: 100%;
  height: 100%;
}

.header-container-1-drops {
  width: 100%;
  height: 100%;
}

/* ------------------- TOP LOGO AND NAVBAR SECTION ------------------------------- */

.header-container-2 {
  background-color: var(--Orange);
  height: 13vh;
}

/* LOGO */
.header-container-2-logo-cont {
  background-color: rgba(128, 0, 128, 0.236);
  width: 100%;
}

/* NAV LINKS */

.header-container-2-Navlinks {
  background-color: rgba(47, 255, 144, 0.299);
  width: 100%;
}

.nav-links-container {
  width: 100%;
}

.nav-links {
  list-style: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  width: 100%;
  padding: 1vw;
}
/* --------------------------- PAGE HERO  -------------------------------------- */

/* HERO BACKGROUND */
.hero {
  background-image: url("../img/Bowl.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 83vh;
}
.H-column {
}
.hero-announcement-container {
  width: 35vw;
  padding: 0 1vw;
}

.hero-container {
}
.hero-btn {
  background-color: var(--Orange);
  color: white;
  width: 12vw;
  padding: 1.2vw;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  border-radius: 0.4vw;
  border: none;
}

/* --------------------------- PAGE PRODUCTS SECTION  ----------------------------- */
.section-product {
  background-color: #f0a93e7c;
}
.remarkable-product {
  height: 46.5vh;
  background-color: rgba(0, 0, 255, 0.55);
}

.products-list-squares {
  height: 63.5vh;
  background-color: rgba(0, 128, 0, 0.725);
}

.section-contact {
  height: 83vh;
  background-color: rgba(221, 160, 221, 0.697);
}

.section-footer {
  height: 61.5vh;
  background-color: rgba(255, 255, 0, 0.758);
}
/* --------------------- TEXT STYLING  --------------------------- */
li {
  display: inline;
  padding-left: 2%;
}

.top-annoucement {
  font-size: 1vw;
}
.nav-span {
  font-size: 1.4vw;
}

.hero-announcement {
  font-size: 2.5vw;
  background-color: white;
  border-radius: 0.5vw;
  font-weight: 400;
  padding: 0.2vw;
  line-height: 4vw;
  text-align: center;
}

.hero-text {
  padding: 3%;
  font-size: 1.5vw;
}

.logo-base {
  color: #ffffff;
  font-size: 2vw;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 23.44px;
  padding-left: 4vw;
  padding: 1vw;
}

.hero-text {
  padding: 3% 0;
  color: var(--Brown);
}

.products-title {
  color: var(--Brown);
  font-size: 4vw;
}

/* ----------------  IMAGE OR ICONS STYLING ----------------------*/

.paw-small {
  height: 2.9vh;
}

.paw-big {
  width: 8vw;
}

.logo-image {
  height: 1.6vw;
}
