@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
  font-family: Roboto, sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --Brown: #3c2313;
  --Square: #fbfaf6;
  --Orange: #f0a83e;
}

li {
  display: inline;
  padding-left: 2%;
}

.header-container-1 {
  background-color: #222222;
  color: white;
  font-weight: 400;
  display: flex;
  width: 100vw;
  height: 4vh;
  align-items: center;
  font-size: 1vw;
  padding: 0.1vw 5vw;
}

.header-container-2 {
  background-color: var(--Orange);
  display: flex;
  height: 12.6vh;
}
.logo-base-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-links-container {
  width: 50%;
  display: flex;
}
.header-container-list {
  list-style: none;
}

.logo-base {
  color: #ffffff;
  font-size: 2vw;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 23.44px;
  display: flex;
  align-items: center;
  height: 10vh;
  padding-left: 4vw;
}

.logo-first {
  color: #3c2313;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
.logo-image {
  height: 1.6vw;
}

.nav-links {
  list-style: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  width: 100%;
  display: flex;
  align-items: center;
}
.nav-links-ul {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 4vw;
}
.paw-small {
  height: 2.9vh;
}

.nav-span {
  font-size: 1.4vw;
}
.top-annoucement {
  display: block;
  width: 70%;
}
.top-dropdowns-span {
  display: flex;
  width: 30%;
  justify-content: right;
}

.nav-drop-field {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.8vh;
}

.nav-drop-btn {
  background-color: #222222;
  color: white;
}
.hero {
  background-image: url("../img/Bowl.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.end-aling {
  align-items: flex-end;
}

.hero-container {
  display: flex;
  justify-content: center;
  width: 40%;
}

.hero-announcement {
  font-size: 2.5vw;
  background-color: white;
  border-radius: 0.5vw;
  font-weight: 400;
  padding: 1%;
  line-height: 4vw;
  text-align: center;
}

.hero-text {
  padding: 3% 0;
}
.hero-btn {
  background-color: var(--Orange);
  color: white;
  width: 12vw;
  padding: 2% 0;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  border: none;
}

.pawbig {
  width: 8vw;
}
.centered-container {
  display: flex;
  justify-content: center;
  padding: 1% 0;
}

.products-title {
  color: var(--Brown);
  font-size: 4vw;
}

.products-title {
  color: var(--Brown);
  font-size: 3vw;
}
.multicolumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.product-square {
  padding: 4% 1%;
}

.product-price,
.product-description {
  text-align: center;
  background-color: var(--Square);
  font-weight: 500;
  padding: 1% 0;
}

.product-description {
  color: var(--Brown);
}

.product-price {
  color: var(--Orange);
  padding-bottom: 3%;
}
.contact-form {
  align-items: center;
}
.contact-title {
  padding: 1%;
  color: var(--Brown);
}
.form-field {
  background-color: var(--Brown);
  width: 33vw;
  border-radius: 1.5vw;
  margin-bottom: 1%;
  padding: 1%;
}

::placeholder {
  color: white;
}

.form-btn {
  background-color: #8a8787;
  border-radius: 1.5vw;
  width: 10vw;
  text-align: center;
  font-size: 1.5vw;
  padding: 3%;
  border: none;
}

.amarillo {
  background-color: var(--Orange);
}
